extends template
block variables
    -   var title = 'Вставка CSS'
block content
    .imagesFlex
        include mixins/imageBlock
        +createImageBlock("img/css1.jpg", '33.33%')
        +createImageBlock("img/css2.jpg", '33.33%')
        +createImageBlock("img/html.jpg", '33.33%')
    .textBlock
        p Существует три способа хранения стилей:
        p 1. В отдельном файле с расширением css. Этот способ используется, если стили будут применяться к нескольким страницам. Тогда во всех этих страницах необходимо подключить созданный css файл. Для этого в  заголовке HTML-документа (head…/head) задается следующий тег:
        include mixins/imageBlock
        +createImageBlock("img/exp1.png", '100%')
        p Этот тег указывает, что стили для элементов описаны в файле style.css, который расположен в том же каталоге, что и файл с HTML-кодом.
    .textFlex
        .textBlock
            p 2. Описание стилей можно хранить непосредственно в коде HTML-страницы. В этом случае область действия стилей распространяется только на текущую страницу. Стили задаются в заголовке документа с помощью парного тега style, в котором располагаются описания стилей. Например:
            include mixins/imageBlock
            +createImageBlock("img/exp2.png", '100%')
        .textBlock
            p 3.Описание стиля может располагаться непосредственно внутри тега элемента. Это делается с помощью атрибута  style:
            include mixins/imageBlock
            +createImageBlock("img/exp3.png", '100%')
            p Этот метод нежелателен, так как он приводит к потере основных преимуществ CSS – возможности отделения кода HTML от оформления, реализации каскадности.